* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100vh;
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1690197604726-f0fc606f7d41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.quote {
  margin: auto;
  width: 100%;
  max-width: 460px;
  min-height: 180px;
  padding: 30px;
  background: #333;
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
p {
  color: #fff;
  font-size: 17px;
  word-wrap: break-word;
}
p:last-child {
  margin: 10px 0;
}
button {
  border: none;
  outline: none;
  margin-right: 12px;
}
a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.btn {
  background: #6059cc;
  color: #fff;
  width: 194px;
  padding: 11px 2px;
  font-size: 14px;
  border-radius: 17px;
  transition: all 700ms ease-in-out;
}
.btn:hover {
  background-color: #5a57ec;
}
